/* your styles go here */

.box-simple p  {
  text-align: left;
}

.box-simple p  {
  text-align: left;
}

a {
  color: #FF001E;
}

.box-simple .icon {
  color: #210095;
  border-color: #210095;
    border: none;
}

#top, #footer {
  background-color: #00276F;
    font-family: "Sorts Mill Goudy";
}

#footer, #copyright {
    padding: 10px;
}

.navbar {
  height: inherit;
}

#copyright {
  background-color: #00276F;
  color: #FF7081;
}

.box-simple h3 {
  color: #210095;
}

.box-simple p {
  color: #00276F;
}

.navbar-default .navbar-nav > li > a {
  color: #210095;
}

#top .social a {
  color: #9D81FF;
}

.navbar-brand>img {
  height: 100px;

}

a.navbar-brand.home {
  height: inherit;
}

section.bar.background-white {
  padding: 10px 0px;
}

#navbar {
    /*background-image: url("./img/Himno_Nacional_Argentino.jpg");*/
    /*background-image: url("/img/Himno_Nacional_Argentino.jpg");*/
}

