{{ if isset .Site.Params "actblue" }}
{{ if .Site.Params.features.enable }}
<section class="bar background-white">
    <div class="container">

		<div class="col-md-12">
            <div class="row">

				<div class="col-md-4">
                    <a href="https://secure.actblue.com/donate/progressivejxn?refcode=thermometer"><img src="https://secure.actblue.com/x/object/actblue-badges/page/progressivejxn/thermometer/light.png" alt="Goal Thermometer"/></a>
                </div>

			</div>
		</div>

    </div>
</section>
{{ end }}
{{ end }}


